body{
    font-size: 2rem;
    background: linear-gradient(to right, black, red);
    font-style: italic;
    color: white;
}

h1{
    text-align: center;
    margin-bottom: 3rem;
}

li {
    list-style: none;
}

/* li > input {
    zoom: 2;
} */

[type="checkbox"] {
    zoom: 2;
}


/* main  */
.main{
    width: 80%;
    margin: auto;

}

/* form  */
.form{
    text-align: center;

}
form > input {
    line-height: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

/* task section  */
.task-section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

/* .not to do list  */
.to-do,
.not-to-do{
    min-width: 50%;
}

hr{
    margin: 1rem;
    
}

h3{
    text-decoration: underline;
}

